.section-content-icons {
  padding: 40px 0 60px;
  background-color: #C8C8B6;
  color: #6D6E71;
}
.content-icons__heading {
  margin-bottom: 20px;
}
.content-icons__icons {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.content-icons__icon {
  flex-shrink: 0;
  max-width: 60px;
  max-height: 60px;
}
@media only screen and (min-width: 768px) {
  .section-content-icons {
    padding: 60px 0;
  }
  .content-icons__inner {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 20px;
  }
  .content-icons__icon {
    max-width: 70px;
    max-height: 70px;
  }
}
@media only screen and (min-width: 1024px) {
  .section-content-icons {
    padding: 80px 0;
  }
  .content-icons__icons {
    margin-top: 0;
  }
}