:root {
  --font-heading-family: 'Adagio_Serif';
  --font-heading-weight: 300;
  --font-body-family: 'Geograph';
  --font-body-weight: 400;

  --clr-dusk: #C7CCCB;
  --clr-cream: #EFE9E3;
  --clr-blush: #E0CFC7;
  --clr-sage: #C8C8B6;
  --clr-charcoal: #6D6E71;
  --clr-camel: #D1B8A1;
  --clr-dusk: #C7CCCB;
  --clr-beige: #DDD8CC;
  --clr-soft-gray:#EDEDEE;
  --clr-dark-gray: #4D4C4C;
  --clr-light-cream: #F9F6F3;
  --clr-medium-cream: #F1EEE7;
  --clr-brown: #A49F99;

  --grid-desktop-vertical-spacing: 10px;
  --grid-desktop-horizontal-spacing: 10px;
}

@font-face {
  font-family: 'Adagio_Serif';
  src: url('Adagio_Serif-Light.woff2') format('woff2'),
      url('Adagio_Serif-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geograph';
  src: url('Geograph-Medium.woff2') format('woff2'),
      url('Geograph-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geograph';
  src: url('Geograph-Regular.woff2') format('woff2'),
      url('Geograph-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.bg-white {
  background: #fff;
}
/* Buttons */
.link {
  display: inline-block;
  position: relative;
  color: #6D6E71;
  appearance: none;
  background-color: transparent;
  text-decoration: none;
  outline: none;
}
.link::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #6D6E71;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
  will-change: transform;
  transform-origin: bottom right;
}
.link:hover {
  text-decoration: none;
}
.link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.button--secondary {
  background-color: transparent;
}
/* Override styles */
.badge {
  background: #D1B8A1;
  color: #FFFFFF;
  border-color: #D1B8A1;
  padding: 4px 12px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
}
.card-media {
  width: 100%;
}

/* Announcement bar */
.announcement-bar {
  background-color: var(--clr-dusk);
}
.announcement-bar__message {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #4D4C4C;
}
@media only screen and (min-width: 749px) {
  .announcement-bar__message {
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
  }
}
/* Header Styles */
.header-wrapper {
  border-bottom: 1px solid #E1E3E5;
}

/* Footer Styles */
.footer {
  padding-top: 8rem;
  padding-bottom: 4rem;
  background-color: #4D4C4C;
}
.footer .footer__content-top {
  display: flex;
  padding-bottom: 4rem;
  flex-direction: row-reverse;
  justify-content: space-between;
  border-bottom: 1px solid #EDEDEE;
}
.footer .footer-block__details-content .list-menu__item--link {
  color: #EDEDEE;
  line-height: 1;
}
.footer .footer-block__details-content .list-menu__item--link::after {
  border-bottom-color: #ededee;
}
.footer .footer-block__details-content .list-menu__item--link:hover {
  color: #ededee;
  text-decoration: none;
}
.footer .footer-block__details-content .list-menu__item--active {
  text-decoration: none;
}
.footer .footer-block__details-content .list-menu__item--active::after {
  transform: scaleX(1);
}
.footer .footer-block .footer-block__heading {
  margin-bottom: 1.6rem;
  color: #ededee;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
@media only screen and (max-width: 749px) {
  .footer .footer-block .footer-block__heading {
    margin-bottom: 1rem;
    font-size: 17px;
  }
}
.footer__blocks-wrapper {
  max-width: 62rem;
  width: 100%;
}

.footer .footer-block--newsletter {
  display: block;
  margin-top: 0;
  margin-right: 3rem;
  max-width: 33.1rem;
}
.footer-block__newsletter .footer-block__heading {
  margin-bottom: 1.6rem;
  color: #EDEDEE;
  font-size: 2rem;
  line-height: 1.3;
}
.footer .newsletter-form__field-wrapper .field__input {
  border: 1px solid #ededee;
  background: transparent;
  outline: none;
  color: #EDEDEE;
  font-size: 1.4rem;
}
.footer .newsletter-form__field-wrapper .field__label {
  top: 1.4rem;
  color: #EDEDEE;
  font-size: 1.4rem;
}
.footer .newsletter-form__field-wrapper .field__input:focus ~ .field__label {
  top: 6px;
  font-size: 1rem;
}
.footer .newsletter-form__button path {
  fill: #ededee;
}
.footer .list-social {
  margin: 4rem -1.3rem 0 !important;
  justify-content: flex-start !important;
}
.footer .list-social__item {
  margin: 0 1.3rem;
}
.footer .list-social__link {
  padding: 0;
  color: #EDEDEE;
}
.footer__content-bottom {
  padding-top: 4rem;
  border-top: none;
}
.footer .list-payment__item {
  filter: grayscale(1);
}
.footer__copyright {
  color: #ededee;
  font-size: 1rem;
}
.footer .copyright__content a:hover {
  color: inherit;
}
@media only screen and (max-width: 749px) {
  .footer {
    padding-top: 4rem;
    padding-bottom: 2.4rem;
  }
  .footer .footer__content-top {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    flex-direction: column-reverse;
  }
  .footer .footer-block--newsletter {
    margin-bottom: 4rem;
    margin-right: 3rem;
    max-width: 100%;
  }
  .footer-block__newsletter .footer-block__heading {
    margin-bottom: 2.4rem;
    text-align: left;
  }
  .footer .list-social {
    margin-top: 2.5rem !important;
  }
  .footer .footer__blocks-wrapper {
    display: grid !important;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 0 6rem;
  }
  .footer .footer__blocks-wrapper .footer-block:nth-child(3) {
    grid-column-start: 2;
  }
  .footer .footer__blocks-wrapper .footer-block.grid__item {
    margin: 0;
  }
  .footer .footer-block__details-content {
    margin-bottom: 0;
  }
  .footer__localization:empty+.footer__column {
    padding-left: 0;
    padding-right: 0;
  }
  .footer .footer-block__details-content .list-menu__item--link {
    padding: 0.5rem 0;
    font-size: 12px;
    line-height: 16px;
  }
}

/* Featured Collection */
.featured-collection {
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: #fff;
}
.featured-collection .collection__title {
  text-align: center;
}
/* .featured-collection .product-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 30px 10px;
} */
.featured-collection .card__information {
  margin-top: 4px;
  padding: 0;
}
.featured-collection .card__heading {
  margin-bottom: 4px;
  font-size: 20px;
  line-height: 1.3;
}
.featured-collection .card-information .price {
  font-size: 12px;
  line-height: 16px;
}
@media only screen and (min-width: 749px) {
  .featured-collection {
    padding-top: 60px;
  }
  /* .featured-collection .product-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  } */
}
@media only screen and (min-width: 1440px) {
  .featured-collection {
    padding-bottom: 100px;
  }
  /* .featured-collection .product-grid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  } */
  .featured-collection .card__information {
    margin-top: 15px;
  }
  .featured-collection .card__heading {
    margin-bottom: 17px;
  }
}

/* Main page */
.section-main .page-width {
  padding-top: 40px;
  padding-bottom: 40px;
}
.section-main .main-page-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  line-height: 1.3;
}
.section-main .main-page-content {
  font-size: 15px;
  line-height: 23px;
}
.section-main .main-page-content strong {
  font-weight: 500;
}
@media only screen and (min-width: 749px) {
  .section-main .page-width {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .section-main .main-page-title {
    margin-bottom: 34px;
    font-size: 40px;
    line-height: 1.2;
  }
  .section-main .main-page-content {
    font-size: 16px;
    line-height: 27px;
  }
}

/* Banner */
.section-slideshow {
  display: flex;
  flex-direction: column;
}
.heading-btn {
  padding: 40px 0;
}
.heading-btn h1 {
  margin-top: 0;
  margin-bottom: 3.2rem;
}
@media only screen and (min-width: 750px) {
  .heading-btn .page-width {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .heading-btn h1 {
    margin: 0;
  }
  .heading-btn .button {
    margin-left: 3.2rem;
  }
}
@media only screen and (max-width: 749px) {
  .heading-btn {
    order: 1;
    text-align: center;
  }
  .heading-btn .button {
    width: 100%;
  }
}

/* Collection Page */
.collection-hero__title {
  text-transform: capitalize;
}
.product-grid-container .collection .full-unstyled-link {
  font-size: 20px;
  line-height: 26px;
}
.price .price-item,
.price--on-sale .price-item--regular {
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.02em;
}
.product-grid-container .collection #product-grid {
  row-gap: 80px;
}
@media only screen and (max-width: 749px) {
  .price .price-item,
  .price--on-sale .price-item--regular {
    display: block !important;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  .product-grid-container .collection #product-grid {
    row-gap: 3rem;
  }
}

/* Cart Page */
#cart .cart-item__price-wrapper>*:only-child:not(.cart-item__discounted-prices) {
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.02em;
}
.quantity::after {
  box-shadow: none;
  border: 1px solid #EDEDEE;
}
#cart .cart-items thead th {
  text-transform: initial;
  font-size: 1.4rem;
  line-height: 1.8rem;
  border-bottom-color: #e1e3e5;
}
#cart .cart-item__name {
  font-size: 2rem;
  line-height: 2.6rem;
  color: #4D4C4C;
}
#cart .cart-item__details {
  padding-left: 2.4rem;
}
.cart__footer .totals .totals__subtotal-value {
  font-size: 1.6rem
}
.cart__footer-wrapper + .featured-collection {
  background-color: transparent;
}
.cart__footer-wrapper + .featured-collection .title {
  text-align: left;
  font-size: 3rem;
  line-height: 1.2;
}
.cart__note .text-area {
  border: 1px solid #E1E3E5;
  box-shadow: none;
  outline: none;
}
@media only screen and (max-width: 749px) {
  #cart .cart-items thead th {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  #cart .cart-item__name {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
  .cart__footer-wrapper + .featured-collection .title {
    text-align: center;
    font-size: 2.2rem;
    line-height: 2.6rem;
  }
  .cart__note {
    justify-content: center;
  }
  .cart__note label {
    margin-bottom: 1.6rem;
    font-feature-settings: 1.4rem;
    line-height: 2.2rem;
  }
}
@media only screen and (min-width: 750px) {
  .cart__footer>.cart__note {
    width: 40rem;
  }
}

/* Product Detail Page */
.product__description blockquote {
  display: block;
  width: 100%;
  margin-left: 0;
  padding-left: 0;
  border-left: 0;
}
.product .product-form__input input[type=radio]+label {
  padding: 8px 12px;
  border: 1px solid var(--clr-beige);
  color: #6D6E71;
  font-size: 14px;
  line-height: 18px;
}
.product .product-form__input input[type=radio]:checked+label {
  background: var(--clr-beige);
  color: #6D6E71;
}
.product .product-form__input {
  margin-bottom: 3rem;
}
.product__info-wrapper .quantity:after {
  border-color:#6D6E71;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  padding-left: 0;
  font-size: 13px;
  line-height: 24px;
  color: #6D6E71;
}
.breadcrumbs .link {
  font-size: 13px;
  line-height: 24px;
}
.breadcrumbs .sep {
  margin: 0 10px;
}
.section .fera-productReviews .fera-productReviews-heading .fera-productReviews-heading-col1 .fera-productReviews-heading-header {
  margin-bottom: 18px;
}
.section .fera-productReviews .fera-productReviews-heading .fera-productReviews-heading-col1 .fera-productReviews-writeReviewLink {
  padding: 13px 20px;
  background: var(--clr-beige) !important; 
  border-color: var(--clr-beige) !important;
  color: #4D4C4C !important;
  text-transform: initial !important;
  font: 400 15px/1 'Geograph', sans-serif;
  letter-spacing: 0.02em;
}
.section .fera-productReviews.fera-productReviews--list .fera-productReviews-body .fera-productReviews-reviews .fera-productReviews-review .fera-productReviews-review-product {
  font-style: normal;
}
.section .fera-productReviews-review-product-link {
  color: inherit !important;
}
.section .fera-productReviews.fera-productReviews--list.fera-container--thin .fera-productReviews-body .fera-productReviews-reviews .fera-productReviews-review .fera-productReviews-review-customer-name {
  font-family: 'Geograph', sans-serif;
  font-weight: 400;
}
@media only screen and (max-width: 749px) {
  .section .fera-productReviews.fera-productReviews--list.fera-container--thin .fera-productReviews-body .fera-productReviews-reviews .fera-productReviews-review .fera-productReviews-review-customer-name {
    font-size: 10px;
  }
  .section .fera-productReviews .fera-productReviews-heading .fera-productReviews-heading-col2 .fera-productReviews-totals-col1 .fera-productReviews-avgRating .fera-productReviews-avgRating-val {
    font-size: 48px;
  }
}
.cart-count-bubble {
  background: #4D4C4C;
  color: #fff;
}

product-recommendations .card__heading a {
  font-size: 20px;
  line-height: 1.3;
}
product-info .fera-stars-rating {
  color: #DDD8CC;
}
product-info .price .price-item,
product-info .price--on-sale .price-item--regular {
  font-size: 1.6rem;
}
product-info div[data-fera-widget] {
  margin-bottom: 0;
}

product-info .accordion__content,
product-info .product__description p {
  font-size: 1.3rem;
  line-height: 2.2rem;
}
product-info .quantity:before {
  background-color: transparent;
}

@media only screen and (max-width: 749px) {
  product-recommendations .product-grid {
    --grid-mobile-horizontal-spacing: 15px;
    --grid-mobile-vertical-spacing: 15px;
  }
}
slideshow-component .slider-buttons,
slider-component .slider-buttons {
  display: none !important;
}
.slider-dots {
  display: flex;
  padding-left: 0;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}
.slider-dot {
  display: inline-block;
  padding: 0;
  margin: 7px;
  width: 10px;
  height: 10px;
  appearance: none;
  background: transparent;
  border: 1px solid #6D6E71;
  border-radius: 50%;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.slider-dot.is-active {
  background: #6D6E71;
}
@media only screen and (min-width: 750px) {
  .slider-dots {
    display: none;
  }
}