:root {
  --font-heading-family: 'Adagio_Serif';
  --font-heading-weight: 300;
  --font-body-family: 'Geograph';
  --font-body-weight: 400;

  --clr-dusk: #C7CCCB;
  --clr-cream: #EFE9E3;
  --clr-blush: #E0CFC7;
  --clr-sage: #C8C8B6;
  --clr-charcoal: #6D6E71;
  --clr-camel: #D1B8A1;
  --clr-dusk: #C7CCCB;
  --clr-beige: #DDD8CC;
  --clr-soft-gray:#EDEDEE;
  --clr-dark-gray: #4D4C4C;
  --clr-light-cream: #F9F6F3;
  --clr-medium-cream: #F1EEE7;
  --clr-brown: #A49F99;

  --grid-desktop-vertical-spacing: 10px;
  --grid-desktop-horizontal-spacing: 10px;
}

@font-face {
  font-family: 'Adagio_Serif';
  src: url('Adagio_Serif-Light.woff2') format('woff2'),
      url('Adagio_Serif-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geograph';
  src: url('Geograph-Medium.woff2') format('woff2'),
      url('Geograph-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geograph';
  src: url('Geograph-Regular.woff2') format('woff2'),
      url('Geograph-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Buttons */
.link {
  display: inline-block;
  position: relative;
  color: #6D6E71;
  appearance: none;
  background-color: transparent;
  text-decoration: none;
  outline: none;
}
.link::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #6D6E71;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
  will-change: transform;
}
.link:hover {
  text-decoration: none;
}
.link:hover::after {
  transform: scaleX(1);
}

.button--secondary {
  background-color: transparent;
}
/* Override styles */
.badge {
  background: #D1B8A1;
  color: #FFFFFF;
  border-color: #D1B8A1;
  padding: 4px 12px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
}
.card-media {
  width: 100%;
}

/* Announcement bar */
.announcement-bar {
  background-color: var(--clr-dusk);
}
.announcement-bar__message {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #4D4C4C;
}
@media only screen and (min-width: 768px) {
  .announcement-bar__message {
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
  }
}

/* Footer Styles */
.footer {
  padding-top: 8rem;
  padding-bottom: 4rem;
  background-color: #4D4C4C;
}
.footer .footer__content-top {
  display: flex;
  padding-bottom: 4rem;
  flex-direction: row-reverse;
  justify-content: space-between;
  border-bottom: 1px solid #EDEDEE;
}
.footer .footer-block__details-content .list-menu__item--link {
  color: #EDEDEE;
  line-height: 1;
}
.footer .footer-block__details-content .list-menu__item--link::after {
  border-bottom-color: #ededee;
}
.footer .footer-block__details-content .list-menu__item--link:hover {
  color: #ededee;
}
.footer .footer-block__details-content .list-menu__item--active {
  text-decoration: none;
}
.footer .footer-block__details-content .list-menu__item--active::after {
  transform: scaleX(1);
}
.footer .footer-block .footer-block__heading {
  margin-bottom: 1.6rem;
  color: #ededee;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.footer__blocks-wrapper {
  max-width: 62rem;
  width: 100%;
}

.footer .footer-block--newsletter {
  display: block;
  margin-top: 0;
  margin-right: 3rem;
  max-width: 33.1rem;
}
.footer-block__newsletter .footer-block__heading {
  margin-bottom: 1.6rem;
  color: #EDEDEE;
  font-size: 2rem;
  line-height: 1.3;
}
.footer .newsletter-form__field-wrapper .field__input {
  border: 1px solid #ededee;
  background: transparent;
  outline: none;
  color: #EDEDEE;
}
.footer .newsletter-form__field-wrapper .field__label {
  color: #EDEDEE;
}
.footer .newsletter-form__button path {
  fill: #ededee;
}
.footer .list-social {
  margin: 4rem -1.3rem 0 !important;
  justify-content: flex-start !important;
}
.footer .list-social__item {
  margin: 0 1.3rem;
}
.footer .list-social__link {
  padding: 0;
  color: #EDEDEE;
}
.footer__content-bottom {
  padding-top: 4rem;
  border-top: none;
}
.footer .list-payment__item {
  filter: grayscale(1);
}
.footer__copyright {
  color: #ededee;
  font-size: 1rem;
}
@media only screen and (max-width: 749px) {
  .footer {
    padding-top: 4rem;
    padding-bottom: 2.4rem;
  }
  .footer .footer__content-top {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    flex-direction: column-reverse;
  }
  .footer .footer-block--newsletter {
    margin-bottom: 4rem;
    margin-right: 3rem;
    max-width: 100%;
  }
  .footer-block__newsletter .footer-block__heading {
    margin-bottom: 2.4rem;
    text-align: left;
  }
  .footer .list-social {
    margin-top: 2.5rem !important;
  }
  .footer .footer__blocks-wrapper {
    display: grid !important;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 0 6rem;
  }
  .footer .footer__blocks-wrapper .footer-block:nth-child(3) {
    grid-column-start: 2;
  }
  .footer .footer__blocks-wrapper .footer-block.grid__item {
    margin: 0;
  }
  .footer .footer-block__details-content {
    margin-bottom: 0;
  }
  .footer__localization:empty+.footer__column {
    padding-left: 0;
    padding-right: 0;
  }
  .footer .footer-block__details-content .list-menu__item--link {
    padding: 0.5rem 0;
    font-size: 12px;
    line-height: 16px;
  }
}

/* Featured Collection */
.featured-collection {
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: #fff;
}
.featured-collection .collection__title {
  text-align: center;
}
/* .featured-collection .product-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 30px 10px;
} */
.featured-collection .card__information {
  margin-top: 4px;
  padding: 0;
}
.featured-collection .card__heading {
  margin-bottom: 4px;
  font-size: 20px;
  line-height: 1.3;
}
.featured-collection .card-information .price {
  font-size: 12px;
  line-height: 16px;
}
@media only screen and (min-width: 768px) {
  .featured-collection {
    padding-top: 60px;
  }
  /* .featured-collection .product-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  } */
}
@media only screen and (min-width: 1440px) {
  .featured-collection {
    padding-bottom: 100px;
  }
  /* .featured-collection .product-grid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  } */
  .featured-collection .card__information {
    margin-top: 15px;
  }
  .featured-collection .card__heading {
    margin-bottom: 17px;
  }
}

/* Main page */
.section-main .page-width {
  padding-top: 40px;
  padding-bottom: 40px;
}
.section-main .main-page-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  line-height: 1.3;
}
.section-main .main-page-content {
  font-size: 14px;
  line-height: 22px;
}
@media only screen and (min-width: 768px) {
  .section-main .page-width {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .section-main .main-page-title {
    margin-bottom: 34px;
    font-size: 40px;
    line-height: 1.2;
  }
  .section-main .main-page-content {
    font-size: 18px;
    line-height: 30px;
  }
  .section-main .main-page-content strong {
    font-weight: 500;
  }
}

/* Banner */
.section-image-banner {
  display: flex;
  flex-direction: column;
}
.heading-btn {
  padding: 40px 0;
}
.heading-btn h1 {
  margin-top: 0;
  margin-bottom: 3.2rem;
}
@media only screen and (min-width: 750px) {
  .heading-btn .page-width {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .heading-btn h1 {
    margin: 0;
  }
  .heading-btn .button {
    margin-left: 3.2rem;
  }
}
@media only screen and (max-width: 749px) {
  .heading-btn {
    order: 1;
    text-align: center;
  }
  .heading-btn .button {
    width: 100%;
  }
}

/* Collection Page */
.collection-hero__title {
  text-transform: capitalize;
}
.product-grid-container .collection .full-unstyled-link {
  font-size: 20px;
  line-height: 26px;
}
.price .price-item,
.price--on-sale .price-item--regular {
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.02em;
}